*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    
    height: 220px;
    width: 650px;
}
.parent div{
    background-color: rgb(45, 62, 80);
    text-align: center;
    line-height: 50px;
}
.big{
    width: 300px;
    height: 100px;
}
.small{
width: 150px;
height: 45px;
}

