*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 75px;
}
#img1{
transform: scale(0.8);
position: relative;
bottom: 75px;
}
#img2{
    position: relative;
    bottom: 55px;
    height: 350px;
}
h2{
margin-top: -30px;
font-size: 30px;
}
h1{
    font-size: 35px;  
    font-weight: bolder;
}
span{
    font-weight: bold;
    font-size: 20px;
    color: rgb(25, 25, 82); 
}
p{
    color: rgb(99, 99, 99);
    letter-spacing: 1px;
}

