*{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    padding: 0;
}
.post-title{
border-bottom: 3px solid    red;
width: 205px;
}
.post-container{
    margin-top: 40px;
    position: relative;
    right: 10px;
}
.post-container div{
    display: inline-block;
    
    padding: 30px;
    width: 320px;
}
.post1{
    padding-left: 0px !important;
}
.post2{
    margin-left: 0px;
    border-left: 1px solid rgb(194, 192, 192);
    border-right: 1px solid rgb(194, 192, 192);
}
img{
    border-radius: 8px;
}
h2{
    color: rgb(64, 61, 61); 
}
h3{
    margin-top: 20px;
    color: rgb(64, 61, 61); 
}
p{
    color: rgb(95, 93, 93);
    line-height: 25px;
    margin-left: 0px;
}
.para-container{
    position: relative;
    bottom: 15px;
    padding: 0 !important;
   width: 300px !important;
    border: none !important;
}
button{
    color: rgb(241, 131, 131);
    border: 3px solid rgb(241, 131, 131);
    background-color: white;
    border-radius: 5px ;
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
}