header{
    text-align: center;
    background-color:rgb(76, 176, 80);
    padding: 20px;
    color: white;
    height: 90px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav1{
    color: rgb(50, 50, 245);
}
#box1{
    border: 2px solid rgb(204, 204, 204);
    
}
table{
    width: 1500px;
    
}
#sec1{
    padding: 20px;
}
td {
    margin-left: 5cm;
}
footer{
    text-align: center;
    background-color: rgb(74, 74, 74);
    color: white;
    height: 40px;
    padding: 20px;
}