* {
    padding: 0;
    margin: 0;
}

main {
    background-color: greenyellow;
    height: 300px;
    margin-bottom: 15px;
}

.sect1 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sect1 div {
    height: 60px;

    background-color: orange;
    width: 50%;
}

.sect2 {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.sect2 div {
    height: 150px;

    background-color: rgb(96, 96, 214);
    width: 33.33%;
}

footer {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

footer div {
    height: 100px;

    background-color: rgb(209, 209, 212);
    width: 25%;
}

@media screen and (max-width:1200px) {
    .sect1 {
        display: flex;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column;
    }

    .sect1 div {
        height: 60px;

        background-color: orange;
        width: 100%;
    }

    .sect2 {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        flex-direction: column;
    }

    .sect2 div {
        height: 100px;

        background-color: rgb(96, 96, 214);
        width: 100%;
    }

    footer {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer div {
        height: 100px;

        background-color: rgb(209, 209, 212);
        width: calc(50% - 15px);
    }
}

@media screen and (max-width:768px) {
    main{
        height: 150px;
    }
    .sect1 {
        display: flex;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column;
    }

    .sect1 div {
        height: 60px;

        background-color: orange;
        width: 100%;
    }

    .sect2 {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        flex-direction: column;
    }

    .sect2 div {
        height: 150px;

        background-color: rgb(96, 96, 214);
        width: 100%;
    }

    footer {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        flex-direction: column;
        justify-content: space-between;
    }

    footer div {
        height: 100px;
        background-color: rgb(209, 209, 212);
        width: 100%;
    }
}